<!-- form handling -->
 <form action="/api/suppliers" method="POST" id="add_supplier">
    <div class="new_supplier">
        <div class="form-group">
           <label for="supplierId" class="text-light">SupplierID</label>
           <input type="number" readonly="readonly" name="supplierId" value=<%= supplierIdMax + 1 %> placeholder=<%= supplierIdMax + 1 %> >
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="text" name="name" value="" >
        </div>
        <div class="form-group">
            <label for="Address" class="text-light">Address</label>
            <input type="text" name="address" value="" >
        </div>
        <div class="form-group">
            <label for="CreatedBy" class="text-light">Created By</label>
            <input type="text" name="createdBy" value="" >
        </div>
        <div class="form-group">
            <label for="CreatedOn" class="text-light">Created On</label>
            <input type="date" name="createdOn" value="" placeholder="01/01/1800" >
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
